body{
  background-color: rgb(174, 174, 237);
}
.photos{
  justify-content: center;
  padding: 5px;
}
.grid{
  flex-direction: row;
  display: grid;
  grid-template-columns:auto auto auto;
  grid-row-gap: 1rem;
 
}
@media (max-width:780px) {
  .grid{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
  }
  
}